{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-md-7 mx-auto">
    

    <div class="card card-body mt-4">
      <form action="{{ url_for('index') }}" method="POST">
        <legend>Panel de Control del Termostato</legend>

        <div class="form-group">
          <label class="col-form-label mt-4" for="topico">Seleccionar Nodo</label>
          <select class="form-control" id="topico" name="topico" required>
            <option value="{{ mac_principal }}">Nodo 1 - Principal ({{ mac_principal }})</option>
            <option value="nodo_2_ejemplo">Nodo 2 - Secundario</option>
            <option value="nodo_3_ejemplo">Nodo 3 - Exterior</option>
          </select>
        </div>

        <div class="form-group">
          <label class="col-form-label mt-4" for="comando">Comando</label>
          <select class="form-control" id="comando" name="comando" onchange="gestionarCampoValor()" required>
            <option value="" disabled selected>Selecciona una acción...</option>
            <option value="destello">Destello</option>
            <option value="setpoint">Setpoint</option>
          </select>
        </div>

        <div class="form-group" id="contenedor_valor" style="display: none;">
          <label class="col-form-label mt-4" for="valor">Valor Numérico</label>
          <input type="number" step="0.1" class="form-control" id="valor" name="valor" placeholder="Ej: 24.5">
        </div>

        <button type="submit" class="btn btn-primary mt-4">Enviar comando</button>
      </form>
    </div>
  </div>
</div>

<script>
  function gestionarCampoValor() {
    const selectorComando = document.getElementById('comando').value;
    const contenedorValor = document.getElementById('contenedor_valor');
    const inputValor = document.getElementById('valor');

    if (selectorComando === 'setpoint') {
      contenedorValor.style.display = 'block';
      inputValor.required = true; // Forzamos a que no lo envíe vacío
    } else {
      contenedorValor.style.display = 'none';
      inputValor.required = false;
      inputValor.value = ''; // Limpiamos el valor residual
    }
  }
</script>
{% endblock %}